$primary: #679334;
$desktop-width: 1024px;
$tablet-width: 768px;
$phone-width: 540px;

@mixin for-desktop {
    @media (max-width: $desktop-width) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: $phone-width) {
        @content;
    }
}

.block-card-overlap .block-entry {
    position: absolute;
    margin-top: 80px;
    top: 0;
    width: 54%;
    flex: none;
    z-index: 25;

    & .inner {
        padding: 50px 60px 70px;
    }

    & p {
        max-width: 300px;
        margin: 0;
        font-size: 12px;

        @include for-desktop {
            max-width: 100%;
        }
    }

    @include for-phone {
        width: calc(100% - 40px);
        position: relative;
        top: 0;
        margin: auto;

    }
}

.q-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    padding: 0 5rem;
    margin: 0 auto;

    @include for-tablet {
        padding: 0 35px;
    }

    @include for-phone {
        padding: 0 20px;
    }
}

.container-inner {
    box-sizing: border-box;
    padding: 0 8rem;

    @include for-tablet {
        padding: 0 50px;
    }

    @include for-phone {
        padding: 0 20px;
    }
}

.bg-full-image {
    padding: 0;
    min-height: 120vh;
    background-color: #000;
    position: relative;
    overflow: hidden;

    & .bg-image {
        object-fit: cover;
        width: 100%;
        height: 130%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: .7;
        background: no-repeat 50%;
        background-size: cover;
    }
}

.bg-image {
    & * {
        color: #fff;
    }
}

.section {
    padding: 150px 0 100px;

    @include for-desktop() {
        padding: 75px;
    }
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    &s {
        display: flex;

        @include for-tablet {
            display: block;
        }
    }
}

.block-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    height: 120vh;
    z-index: 100;

    &-shadow {
        padding: 50px 0 80px;

        @include for-tablet {
            display: flex;
        }

        @include for-phone {
            display: block;
            padding-bottom: 0;
        }
    }

    @include for-phone {
        justify-content: center;
    }
}

.section-headline {

    &-2,
    &-3,
    &-4,
    & {
        font: 400 35px/1.3 Playfair Display, serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #5f5c68;
        position: relative;
        margin-top: 0;
        display: block;
        margin-bottom: 50px;

        @include for-phone {
            font-size: 20px;
        }
    }
}

.section-description {
    font: 400 18px/1.3 Playfair Display, serif;
}

.content-text {
    color: #5f5c68;
    opacity: 0;

    &-2 {
        color: white;
        opacity: 0;
    }
}

.title-line {
    right: -125px;
    height: 1px;
    background-color: #679334;
    margin: -85px 0 80px;
    position: relative;
    top: 5%;

    @include for-desktop {
        left: 90px
    }

    @include for-phone {
        left: 50px
    }
}

.bg-white {
    background-color: white;
}

.bg-vanilla {
    background-color: #f0f0f5;
}

.right {
    right: 0;
}

.text-green {
    color: $primary
}

.flickity-enabled {
    position: relative;

    &.is-draggable {
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        & .flickity-viewport {
            cursor: move;
            cursor: -webkit-grab;
            cursor: grab;
            height: 280px;
            touch-action: pan-y;
        }
    }
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

li,
ol,
ul {
    list-style: none;
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;

    & .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 8px;
        background: #333;
        border-radius: 50%;
        opacity: .25;
        cursor: pointer;

        &.is-selected {
            opacity: 1;
        }
    }
}

.flickity-slider {
    position: absolute;
    left: 0px;
    transform: translateX(0%);
    width: 100%;
    height: 100%;
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}